<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="Bidorbuy_StoreIntegrator::bidorbuy_system" title="Bidorbuy Store Integrator" sortOrder="10" >
                        <resource id="Bidorbuy_StoreIntegrator::settings" title="Settings" sortOrder="20"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>