#ctrl-c-message {
    display: none;
    position: absolute;
    text-align: center;
    padding: 10px;
    width: 120px;
    background: #43D8FA;
    color: white;
    font-size: large;
    border-radius: 8px;
    z-index: 99999999;
}

#bobsi-icon-trade-feed {
    background: url(bidorbuy.png) no-repeat 0 0;
    width: 240px;
    height: 60px;
    margin-right: 5px;
    display: inline-block;
}

#bobsi-adv {
    display: inline-block;
    float: right;
}

#tokenDownloadUrl, #tokenExportUrl {
    width: 100%;
    margin-bottom: 3px;
}

.bobsi-categories-select{
    min-width: 190px;
    font-size: 12px;
    max-height: 200px;
}

.cats-middle {
    vertical-align: middle;
}


.beta-tester {
    width: 100%;
    height: auto;
    margin-bottom: 34px;
    background: url(homescreenpicture.png) no-repeat 0 0;
    position: relative;
    box-sizing: border-box;
}

#banner {
        background: url(homescreenpicture.png) no-repeat 0 0;
}


.beta-tester__banner {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
    background-image: url(home-screen-picture.png);
    background-color: #555;
    background-size: cover;
    padding: 30px 0px;
}

.beta-tester::before {
    content: '';
    width: 6px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #7FFF00;
}

#poststuff h2.beta-tester__heading {
    display: block;
    width: 70%;
    margin: 0 auto;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}


h2 {
    font-size: 1.5rem;
}

h2 span {
    font-size: 2rem;
    color: #50C878;
}

#poststuff h2.beta-tester__heading--dark {
    color: #000;
    width: 90%;
    margin: 0 auto;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.beta-tester__form {
    font-family: sans-serif;
}

.beta-tester__form--hidden {
    margin: 0;
    padding: 0;
}

.beta-tester__form-wrapper {
    position: fixed;
    z-index: 999999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 60px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    justify-content: space-between;
}

.beta-tester__form-wrap {
width: 100%;
display: flex;
justify-content: space-between;
margin-bottom: 24px;
}

.beta-tester__form-inner-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;

}

.beta-tester__input-wrapper:not(:last-of-type) {
    margin-right: 14px;
}

.beta-tester__label {
    display: block;
    margin-bottom: 6px;
    color: #000;
}

.beta-tester__input {
    display: block;
    min-width: 240px;
    border-radius: 4px;
    line-height: 1.8;
    padding: 4px 12px;
    border: 1px solid rgb(90, 90, 90);
    margin-right: 14px;
    margin-bottom: 24px;
}

.beta-tester__submit {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    padding: 6px 14px;
    font-family: sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #50C878;
}

.beta-tester__buttons-wrapper {
    padding: 16px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.beta-tester__link {
    padding: 6px 14px;
    font-family: sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
    min-width: 124px;
    text-align: center;
}

.beta-tester__link:hover {
    text-decoration: none;
    color: inherit;
}

.beta-tester__link:hover {
    color: #fff;
}

.beta-tester__info {
    color: #48BBD5;
}

.beta-tester__info:hover {
    color: #2792aa;
}

.beta-tester__contact {
    color: #48BBD5;
}

.beta-tester__contact:hover {
    color: #2792aa;
}

.beta-tester__dismiss {
    background-color: transparent;
    border: none;
    outline: none;
    color: #48BBD5;
}

.beta-tester__dismiss:hover {
    color: #2792aa;
}

.beta-tester__cancel {
    background: transparent;
    border: none;
    outline: none;
    color: #2792aa;;
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
    font-size: 24px;
}


.beta-tester__links-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

@media (max-width: 984px) {
    .beta-tester__input-wrapper {
        margin-right: 14px;
    }
}